.title {
  font-size: 3rem;
  color: #2f89de;
}

.link {
  color: #2f89de;
}

.link:hover, 
.link:focus {
  color: #30699e;;
  transition: color 0.3s ease;
}

.content {
  font-size: 1.8rem;
  line-height: 1.7;
}